doctype html
html
  include ../includes/head.pug
    title Contact Us - Prime Systems
    meta(name='keywords' content='computers, utah, contact, prime, systems')
    meta(name='description' content='Have any questions? Comments? Concerns? Let us know here.')
  // Include scripts or stylesheets specific to this page
  body
    include ../includes/navbar.pug
    main(class='main' role='main')
      h4 Prime Systems Contact Us
    include ../includes/footer.pug
