// nav
nav(id='navbar' class='drop-shadow' role='navigation')
  .navbar-content
    ul.navbar-header
    ul.navbar-list
      li.navbar-item.navbar-logo
        a(class='navbar-link navbar-link-logo' href='/' id='navbar-firstfocus')
          span.navbar-link-text Prime Systems
      li(class='navbar-item navbar-link')
        a(class='navbar-link navbar-link-products' href='/products/')
          p Products
      li.navbar-item.navbar-item-menu
        a(class='navbar-link navbar-link-about' href='/about/')
          p About
      li.navbar-item.navbar-item-menu
        a(class='navbar-link navbar-link-contact' href='/contact/')
          p Contact Us
      li.navbar-item.navbar-item-menu
        a(class='navbar-link navbar-link-testimonials' href='/about/testimonials')
          p Testimonials
      li.navbar-item.navbar-item-menu
        a(class='navbar-link navbar-link-repair' href='/repair/')
          p Repair
