footer.footer
  .row
    .small-12.medium-6.large-5.columns
      p.logo Prime Systems, Inc.
      p.footer-links
        a(href="/index.html") Home
        a(href="/products/") Products
        a(href="/about.html") About
        a(href="/repair.html") Repair
        a(href="/contact.html") Contact
      p.copywrite Copyright © 2017 Prime Systems, Inc.
    .small-12.medium-6.large-4.columns
      ul.contact
        li
          p
            i.fi-marker
            | 230 W 200 N Kaysville, UT 84037
        li
          p
            a(href="tel:18015462666" class="link")
              i.fi-telephone
              | +1 (801) 546-2666
        li
          p
            a(href="mailto:kduncan@primesystemsinc.com" class="link")
              i.fi-mail
              | kduncan@primesystemsinc.com
    .small-12.medium-12.large-3.columns
      p.about About Prime Systems, Inc.
      p.about.subheader With over 25 years of experience serving the Wasatch Front, Prime Systems is the place to go for computer repair in the Wasatch Area.
      ul.inline-list.social
        a(href="https://www.facebook.com/Prime.Systems/")
          i.fi-social-facebook
// Required for Foundation.css
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4" crossorigin="anonymous")
script(src="/build/site.min.js")
script.
  $(document).foundation();
