doctype html
html
  include includes/head.pug
    title Home - Prime Systems
    meta(name='keywords' content='computers, repair, utah, salt lake, weber, davis, prime, systems')
    meta(name='description' content='Prime Systems is the computer repair company serving the Wasatch Front for over 25 years.')
  // Include scripts or stylesheets specific to this page
  body
    include includes/navbar.pug
    main(class='main with-promos' role='main')
      //- A slide
          div(class='slides fade')
            img(src='img/slider/pre-owned.png')
            div(class='text')Caption
      div(class='slideshow-container')
        div(class='slides fade')
          img(src='img/slider/home-repair.png')

        div(class='slides fade')
          img(src='img/slider/pre-owned.png')

        div(class='slides fade')
          img(src='img/slider/delivery.png')

        a(class='prev' onclick='plusSlides(-1)') &#10094;
        a(class='next' onclick='plusSlides(1)') &#10095;
      br

      div(style='text-align: center;')
        span(class='dot' onclick='currentSlide(1)')
        span(class='dot' onclick='currentSlide(2)')
        span(class='dot' onclick='currentSlide(3)')

      // 4 boxes
      section(id='promos' class='promos row')
        ul
          li(id='promo-position-0' class='promo-position promo-tile-position-0 column large-3 medium-6 small-12')
            a(class='promo promo-nuc' data-promo-id='nuc' href='/products/nuc')
              span(class='promo-label') A true desktop experience.
          li(id='promo-position-1' class='promo-position promo-tile-position-0 column large-3 medium-6 small-12')
            a(class='promo promo-gaming' data-promo-id='gaming' href='/products/gaming')
              span(class='promo-label') Get the performance, and price, you need.
          li(id='promo-position-2' class='promo-position promo-tile-position-0 column large-3 medium-6 small-12')
            a(class='promo promo-components' data-promo-id='components' href='/products/components')
              span(class='promo-label') Looking for parts? We can help.
          li(id='promo-position-3' class='promo-position promo-tile-position-0 column large-3 medium-6 small-12')
            a(class='promo promo-testimonial' data-promo-id='testimonial' href='/about/testimonials')
              div(class='testimonial-container' style='margin: auto; padding-left: 3px;')
                p.t-head Lisa Brenchley
                p.t-quote "Great service, great employees got the job done quick and effectively. Definitely would recommend these guys to anybody who needs any help with anything computer-based. If I could I would give it six out of five."
                br
                p(class='btn testimonial-btn' disabled) See More
      script.
        var slideIndex = 0;
        var auto = true;
        showSlides();

        function plusSlides(n) {
          showSlides(n);
          auto = false;
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          if ((n == undefined) && !auto) {return}
          var i;
          var dots = document.getElementsByClassName("dot");
          var slides = document.getElementsByClassName("slides");
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          if (n) {
            slideIndex = slideIndex + n;
          } else {
            slideIndex++;
          }
          if (slideIndex > slides.length) {slideIndex = 1}
          if (slideIndex < 1) {slideIndex = slides.length}
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          if (!n) {setTimeout(showSlides, 4000);} // Change image every 4 seconds
        }

    include includes/footer.pug
