h2.modal-header {
  font-size: 64px;
  text-align: center;
  color: #404040;
}

div.tingle-modal-box__content > p, div.tingle-modal-box__content > div > p {
  font-size: 24px;
}

div.tingle-modal-box__content > h3, div.tingle-modal-box__content > div > h3 {
  font-size: 48px;
  margin-left: 15px;
}

.center-text {
  text-align: center;
}

div.tingle-modal-box__content > h3, div.tingle-modal-box__content > p,
div.tingle-modal-box__content > div > h3, div.tingle-modal-box__content > div > p {
  margin-top: 12px;
}
