doctype html
html
  include ../includes/head.pug
    title About - Prime Systems
    meta(name='keywords' content='')
    meta(name='description' conent='')
  body
    include ../includes/navbar.pug
    main
      h3 About
    include ../includes/footer.pug
