doctype html
html
  include ../includes/head.pug
    title About - Prime Systems
    meta(name='keywords' content='')
    meta(name='description' conent='')
  body
    include ../includes/navbar.pug
    main
      h3 About
      .about
        p Prime Systems was founded in June of 1990 by Keith R. Duncan. The company was only Keith and Delvin Read in the beginning years – Keith would sell the systems and Delvin would build them. Keith would deliver the systems and to this day the company still delivers the vast majority of systems built. The company began out of Keith’s home, later moved to two other locations and today resides in a 5000 square foot facility in Kaysville, Utah. A significant event early on in Prime Systems history was the association it gained with the Davis School District. From 1992 until 1997 the company built and maintained over 4000 computers for this large school district. That association had far reaching and positive affects as the years have unfolded. In 1998 the company gained a similar contract with Weber State University and still holds and maintains that contract today.
        br
        p Though totally committed to the educational marketplace, Prime Systems has seen unprecedented growth in recent years in the small and medium sized business market. The company builds and maintains computer desktops, notebook computers and networks for dozens of firms along the Wasatch Front. The firms include banks, credit unions, publishing companies, mortgage offices, dental and medical offices, law firms and manufacturing plants, police and fire departments as well as the personal systems of a lot of their employees.
        br
        p With very little done in the way of advertising, Prime Systems relies mostly upon word of mouth. Service is paramount to Prime Systems success. Keith, who still helps run the company, believes that it is not enough to have a satisfied customer, but must have raving fans instead.
    include ../includes/footer.pug
