doctype html
html
  include ../includes/head.pug
    title Testimonials - Prime Systems
    meta(name='keywords' content='testimonials, reviews, customers, satisfaction')
    meta(name='description' conent='Check out all of our satisfied customers from Google and handwritten notes and letters.')
  body
    include ../includes/navbar.pug
    main
      h3 Testimonials
    include ../includes/footer.pug
