.promo-nuc {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url();
}

.promo-gaming {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url();
}

.promo-components {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url();
}

.promo-business {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url();
}
