.promo-nuc {
  background-repeat: no-repeat;
  background-image: url("../img/promos/nuc-square.jpg");
}

.promo-gaming {
  background-repeat: no-repeat;
  background-image: url("../img/promos/New_MAX210_Gaming_Desktop.png");
}

.promo-components {
  background-repeat: no-repeat;
  background-image: url("../img/promos/components.png");
}
