.promo-nuc {
  background-repeat: no-repeat;
  background-image: url("../img/promos/nuc.png");
}

.promo-gaming {
  background-repeat: no-repeat;
  background-image: url("../img/promos/gaming-comp.png");
}

.promo-components {
  background-repeat: no-repeat;
  background-image: url("../img/promos/components.png");
}
