.column {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 2px;
}

.large-3 {
  width: 25%;
}

@media only screen and (max-width: 1068px) {
  .medium-6 {
    width: 50%;
  }
}

@media only screen and (max-width: 735px) {
  .small-12 {
    width: 100%;
  }
}
