.promos {
  border-bottom: 2px solid #fff;
}

.promos ul {
  margin: 0;
  padding: 0;
}

.promos .promo {
  display: block;
  background-position: center center;
  height: 200px;
}

.promos .promo-label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px, 0px, 99.9%, 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.promos .promo-position {
  list-style-type: none;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
