doctype html
html
  include ../includes/head.pug
    title Repair - Prime Systems
    meta(name='keywords' content='computer, repair, virus removal, screen, keyboard, tune up')
    meta(name='description' content='Prime System\'s computer repair shop, manned by A+ and OEM certified technicians, can handle anything you throw at them.')
  // Include scripts or stylesheets specific to this page
  body
    include ../includes/navbar.pug
    main(class='main' role='main')
      h4 Prime Systems Repair
    include ../includes/footer.pug
