doctype html
html
  include ../includes/head.pug
    title Products - Prime Systems
    meta(name='keywords' content='computers, utah, desktops, laptops, components, prime, systems')
    meta(name='description' content='Prime Systems has any and all computers or components you may need.')
  // Include scripts or stylesheets specific to this page
  body
    include ../includes/navbar.pug
    main(class='main' role='main')
      h4 Prime Systems Products
    include ../includes/footer.pug
