doctype html
html
  include ../includes/head.pug
    title Products - Prime Systems
    meta(name='keywords' content='computers, utah, desktops, laptops, components, prime, systems')
    meta(name='description' content='Prime Systems has any and all computers or components you may need.')
    script(src="https://unpkg.com/vue")
    // Include scripts or stylesheets specific to this page
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel="stylesheet" href="/build/dist/style.css")
  body
    include ../includes/navbar.pug
    main(class='main' role='main')
      #shop
    // Scripts for vue.js app
    script(type="text/javascript" src="/build/dist/static/js/app.0a51a92325a883a9db7e.js")
    script(type="text/javascript" src="/build/dist/static/js/manifest.c061cbb4b96d4aa79861.js")
    script(type="text/javascript" src="/build/dist/static/js/vendor.3f0a2d86aa8b7bd8f03e.js")
    include ../includes/footer.pug
